<div
  style="background-color: #52221e;min-height: 100%;width: 100%;color:#ffffff;display: flex;justify-content: center;">
  <div style="width: 70%;min-width: 960px;height: 80%;display: flex;flex-direction: column;justify-content: space-between;align-items: center">
    <p> 雀鹰（学名：Accipiter nisus）属小型猛禽，体长30-41厘米。雌较雄略大，翅阔而圆，尾较长。
      雄鸟上体暗灰色，雌鸟灰褐色，头后杂有少许白色。下体白色或淡灰白色，雄鸟具细密的红褐色横斑，雌鸟具褐色横斑。尾具4-5道黑褐色横斑，飞翔时翼后缘略为突出，翼下飞羽具数道黑褐色横带，通常快速鼓动两翅飞一阵后接着又滑翔一会。栖息于针叶林、混交林、阔叶林等山地森林和林缘地带。日出性。常单独生活。或飞翔于空中，或栖于树上和电柱上。以雀形目小鸟、昆虫和鼠类为食，也捕食鸽形目鸟类和榛鸡等小的鸡形目鸟类，有时亦捕食野兔、蛇、昆虫幼虫。分布于欧亚大陆，往南到非洲西北部，往东到伊朗、印度和中国及日本。越冬在地中海、阿拉伯、印度、缅甸、泰国及东南亚国家。</p>
  </div>
</div>
